footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #353535;

    padding: 2.5rem 10.5rem;

    margin-top: 20px;

    font-family: 'Darker Grotesque', sans-serif;

}

.box-contato {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.box-contato iframe {
    width: 12.5rem;
    height: 10rem;
}

.contatos {
    gap:1rem;
    max-width: 23.625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contatos p {
    color: white;
    font-size: 18px;

    word-wrap: break-word;
}

.contatos-elements {
    display: flex;
    gap: 10px;
}

.contatos-elements img {
    width: 20px;
    height: 20px;
}


#quem-somos-btn {
    background-color: #DEB959;

    font-size: 25px;
    font-weight: 700;

    border: none;

    cursor: pointer;

    width: 144px;
}

.pata-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.pata-footer p {
    color: white;
    font-size: 18px;
    white-space: nowrap;
}

@media screen and (max-width: 1024px) {
    footer {
        flex-direction: column;
        gap: 50px;
    }

    .box-contato {
        flex-direction: column;
        align-items: center;
    }

    .box-contato iframe {
        width: 100%
    }

    .contatos {
        align-items: center;
        gap: 30px;
    }
}