body {
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;   
    align-items: center;
}

.form-section {
    border: 4px solid #333;
    flex-wrap: wrap;
    width: 63%;
    height: 80%;

    margin-top: 50px;
    margin-bottom: 110px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.form-section h2 {
    font-size: 60px;
    font-weight: 600;

    margin-top: 55px;
    margin-bottom: 70px;
}

form {
    padding: 1rem;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.div-nome-anos{
    display: flex;
    gap: 20px;
    
    width: 100%;

    margin-bottom: 20px;
}

#div-nome {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#div-nome input {

    width: 100%;
}

#div-anos {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 20%;
}

.div-link {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;

    margin-bottom: 20px;
}

.div-descricao {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-bottom: 50px;

    width: 100%;
}

.div-descricao input {
    height: 250px;
}


.label-form {
    font-size: 30px;
    font-weight: 500;
}

.input-form {
    background-color: #E6E6E6;
    border: 1px solid #333;

    height: 40px;
}

#btn-enviar {
    border: 1px solid #333;

    background-color: #2C5680;

    width: 210px;
    height: 60px;

    color: white;
    font-size: 24px;
    font-weight: 400;

    cursor: pointer;
}

.form-section h2{
    text-align: center;
}

@media (max-width: 620px){
    .form-section{
        width: 90%;
    }
}