body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    overflow: auto;
}

header{
    position: relative;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nomelobobloco{
    flex-wrap: wrap;
    margin-top: 2.25rem;
    display: flex;
    flex-direction: column;
}
.nomelobo{
    font-size: 3em;
    font-weight: bolder;
    font-family: Darker Grotesque, sans-serif;
}

.centro{
    display: flex;
    margin: 0 10%;
    justify-content: center;
    margin-top: 3em;
}

.figure{
    width: 29.875rem;
    height: 24.25rem;
    position: relative;
}

.caixa{
    position: absolute;
    top:0;
    left:0;
    width: 92%;
    height: 92%;
    flex-shrink: 0;
    background: #2C5680;
    padding: 2em 0em 0em 2em;
    border: black 0.2em solid;
}

.imgLobo{
    position: absolute;
    bottom:0;
    right:0;
    width: 92%;
    height: 92%;
    flex-shrink: 0;
}

.texto{
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    Word-break: break-word;
    font-family: Darker Grotesque, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1em;
    max-width: 40rem;
}
.btn{
    display: flex;
    justify-content: space-between;
    width: 30em;
    margin-right: 7em;
}
.adotar{
    width: 11.25rem;
    height: 3.5rem;
    flex-shrink: 0;
    border: none;
    color: #FFF;
    font-family: Roboto;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: Darker Grotesque, sans-serif;
    background-color: #7AAC3A;
    transform: 0.3s;
    

}
.adotar a{
    text-decoration: none;
    color: white;
}
.adotar:hover{
    transform: scale(1.07);

}
.excluir{
    width: 11.25rem;
    height: 3.5rem;
    flex-shrink: 0;
    background: #DE5959;
    border: none;
    color: #FFF;
    font-family: Roboto;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: Darker Grotesque, sans-serif;
    transition: 0.3s;
}
.excluir:hover{
    transform: scale(1.07);
}
.lobo{
    padding: 0px 0px 3px 0px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    align-content: start;
    gap: 8em;
}

@media (max-width: 1116px){

    .lobo{
        gap:1rem;
        align-items: center;
    }

    .nomelobobloco{
        display: flex;
        flex-direction: column;
        margin-bottom: 4rem;
    }

    footer{
        margin-top: 10rem;
        display: flex;
        padding: 1rem 2rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.5625rem; 
    }

    .nomelobo{
        align-self: center;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
    }

    .centro{
        display: flex;
        flex-wrap: wrap;
    }

    .texto{
        width: auto;
    
}
    .btn{
        margin-right: 0em;
    }
}
@media (max-width: 560px){
    .lobo{
        transform: scale(0.7);
    }
}