main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
#qmsomos{
    font-size: 3em;
    font-weight: 600;
    font-family: Darker Grotesque, sans-serif;
    margin-top: 1.5em;
}
#texto{
    display: flex;
    flex-wrap: wrap;
    max-width: 22em;
    Word-break: break-word;
    font-family: Darker Grotesque, sans-serif;
    font-weight: 400;
    margin: 0 20%;
    margin-top: 3em;
    text-align: center;
    font-size: 2em;
}

@media (max-width: 575px){
    #texto{
    font-size: 1.7em;
    }
}