main{
    height: 100%;
}
.texto{
    display: flex;
    flex-wrap: wrap;
    max-width: 22em;
    Word-break: break-word;
    font-family: Darker Grotesque, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
}
.secao{
    display: flex;
    justify-content: center;
    margin: 0 10%;
    margin-top: 40px;
    gap: 5rem;
    align-items: center;
    margin: 7em;
}
.caixa{
    width: 25em;
    height: 20em;
    background:  #2C5680;
    padding: 2em 0em 0em 2em;
    border: black 0.2em solid;
    max-width: 100%;
}
h2{
    font-size: 2.2rem;
    font-weight: 600;
}
.textoebtn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.textoebtn{
    width: 528px;
}
.txtbtnsub{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 2rem;
}

.txtbtnsub > button{
    border: none;
    background-color:#DEB959;
    width: 6em;
    height: 1.5em;
    color: white;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    transition: 0.3s;
}

.txtbtnsub > .btnadotado{
    border: none;
    background-color:#7AAC3A;
    width: 6em;
    height: 1.5em;
    color: white;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    transition: 0.3s;
}
.txtbtnsub > button:hover{
    transform: scale(1.3);

}

.imgLobo{
    width: 430px;
    height: 328px;
    background-color: aliceblue;
}

.donoLobo{
    font-family: Darker Grotesque;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 1em;
    color: #000;
}

.textoDono {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer{
    position: 0;
}

button > a{
    text-decoration: none;
    color: white;
}

#itens{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 1.5rem;
    height: 2.5rem;
}
.dona{
    display: flex;
}
.teste{
    border-right: none;
    background-image: url(../../assets/Group.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 3em;
    width: 3em;
}
#pesquisa{
    width: 30rem;
    height: 3em;
    border-left: none;
}

#maislobo{
    font-size: 1.5rem;
    color: white;
    background-color:#DEB959;
    text-decoration: none;
    transition: 0.3s;
    border: none;
}
#maislobo:hover{
    transform: scale(1.3);
    border: black 1px solid;
}

#searchFilter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#filter{
    font-family: Darker Grotesque;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #353535;
    margin: auto;
}

@media screen and (max-width:1055px) {
    .secao{
        flex-direction: column !important;
    }
}

@media screen and (max-width: 718px) {



    .secao{
        margin: 0 10%;
        gap:0px;
    }

    .imgLobo{
        transform: scale(0.8);
    }

    .caixa{
        transform: scale(0.8);
    }

    .figure{
        transform: scale(0.8);
    }

    .txtbtnsub{
        gap:20px;
    }

    .textoebtn{
        transform: scale(0.8);
    }
}

@media screen and (max-width: 612px) {
    #pesquisa{
        min-width: 10rem;
        width: auto;
    }
}


@media screen and (max-width: 435px) {
    .imgLobo{
        transform: scale(0.73);
    }

    .caixa{
        transform: scale(0.73);
    }

    .figure{
        transform: scale(0.5);
    }

    .textoebtn{
        transform: scale(0.73);
    }

    .secao{
        gap:0px;
    }
}